#nexus {
	width: 600px;
	height: 600px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -300px;
}

#nexus-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -175px 0 0 -175px;
}

#nexus-logo img {
	width: 350px;
	height: 350px;
}

.page { 
	width: 100px;
	height: 100px;
	position: absolute;
}